# Dependencies
node_modules/
package-lock.json

# Build Outputs (Binaries)
dist/
dist_desktop/
release/
build/

# System Files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-error.log*

# Capacitor Generated
android/app/build/
android/.gradle/
ios/App/App/public/
